<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="app__sidenav"
    mode="push"
    [(opened)]="opened"
  >
    <h1>MENU</h1>

    <a *ngFor="let route of routes"
       [routerLink]="route.path"
       mat-raised-button
       color="primary"
    >
      {{ route.label }}
    </a>
  </mat-sidenav>
  
  <mat-sidenav-content class="app">
    <div class="app__header">

      <mat-card class="app__header-body">
        <button
          (click)="sidenav.toggle()"
          class="app__sidenav-toggle"
          mat-icon-button
        >
          <i class="material-icons">menu</i>
        </button>

        <div>
          <a *ngFor="let route of routes"
             [routerLink]="route.path"
             routerLinkActive="app__header-body__link--active"
             class="app__header-body__link"
             mat-button
             color="primary"
          >
            {{ route.label }}
          </a>
        </div>
      </mat-card>
    </div>

    <main class="app__outlet">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>