<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="app__sidenav"
    mode="push"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <a routerLink="/" mat-raised-button color="primary">Home</a>
    <a routerLink="/schema/1" mat-raised-button color="primary">Schema 1</a>
  </mat-sidenav>
  
  <mat-sidenav-content class="app">
    <div class="app__header">

      <mat-card>
        <button class="app__sidenav-toggle" mat-icon-button (click)="sidenav.toggle()">
          <i class="material-icons">menu</i>
        </button>
        <a routerLink="/" mat-raised-button color="primary">Home</a>
        <a routerLink="/schema/1" mat-raised-button color="primary">Schema 1</a>
      </mat-card>
    </div>

    <main class="app__outlet">
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>