<h1 class="centered">Schema view</h1>

<mat-card *ngIf="currentSchema">
  <h2>Received schema:</h2>
  <div>id: {{ currentSchema.id }}</div>
  <div>name: {{ currentSchema.name }}</div>
  <div>sizeX: {{ currentSchema.sizeX }}</div>
  <div>sizeY: {{ currentSchema.sizeY }}</div>
  <div>sizeZ: {{ currentSchema.sizeZ }}</div>
  <div>gridStepX: {{ currentSchema.gridStepX }}</div>
  <div>gridStepY: {{ currentSchema.gridStepY }}</div>
  <div>disableDeleting: {{ currentSchema.disableDeleting }}</div>
</mat-card>
