config.stopBubbling = true

lombok.anyConstructor.suppressConstructorProperties = true
lombok.addGeneratedAnnotation = true
lombok.anyConstructor.flagUsage = [ALLOW]
lombok.nonNull.flagUsage = [ALLOW]
lombok.requiredArgsConstructor.flagUsage = [ALLOW]
lombok.noArgsConstructor.flagUsage = [ALLOW]
lombok.data.flagUsage = [ALLOW]