
<mat-card
  class="sidebar"
  [ngSwitch]="currentProps.type"
>
  <app-schema-form
    class="sidebar-props"
    *ngSwitchCase="propTypes.schema"
    [schema]="currentProps.value"
  ></app-schema-form>

  <app-box-form
    class="sidebar-props"
    *ngSwitchCase="propTypes.box"
    [box]="currentProps.value"
  ></app-box-form>

  <app-building-area-form
    class="sidebar-props"
    *ngSwitchCase="propTypes.buildingArea"
    [buildingArea]="currentProps.value"
  ></app-building-area-form>

  <h3
    *ngSwitchDefault
    class="sidebar-placeholder"
  >
    Select item to edit
  </h3>
</mat-card>