
:host {
  height: calc(100vh - 110px);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;

  &-placeholder {
    text-align: center;
  }

  &-props {
    display: block;
    padding: 14px;
    height: calc(100vh - 140px);
    overflow-y: auto;
  }
}