
<mat-card class="schema__wrapper">
  <mat-card class="schema__view">
    <!-- START: Grid view -->
    <div
      class="schema__grid"
      [style.backgroundSize]="schema.gridStepX + 'px ' + schema.gridStepY + 'px'"
      [style.width.px]="schema.sizeX"
      [style.height.px]="schema.sizeY"
      (click)="showSchemaOnSidebar($event)"
    >
      <app-boxes-view
        [boxes]="(boxes$ | async)"
      ></app-boxes-view>

      <app-building-areas-view
        [buildingAreas]="(buildingAreas$ | async)"
      ></app-building-areas-view>
    </div>
    <!-- END: Grid view -->
  </mat-card>

  <!-- START: Schema right sidebar -->
  <app-schema-right-sidebar
  ></app-schema-right-sidebar>
  <!-- END: Schema right sidebar -->
</mat-card>
