.schema {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  &__view {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: calc(100vh - 100px);
    width: 100%;
  }

  &__grid {
    position: relative;
    border: 1px solid;
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);  
    &--dark {
      background-color: #434343;
    }
  }

  &__sidebar {
    box-shadow: -1px 0 #9b9b9b;
    min-width: 200px;
    
    &-props {
      padding: 14px;
    }
  }
}

