
<mat-card class="schema__wrapper">
  <mat-card class="schema__view">
    <!-- START: Grid view -->
    <div
      class="schema__grid"
      [style.backgroundSize]="schema.gridStepX*10 + 'px ' + schema.gridStepY*10 + 'px'"
      [style.width.px]="schema.sizeX"
      [style.height.px]="schema.sizeY"
      (click)="showClickedObjectProps($event)"
    >
      <app-boxes-view
        [boxes]="boxes"
      ></app-boxes-view>
      
      <app-building-areas-view
        [buildingAreas]="buildingAreas"
      ></app-building-areas-view>
    </div>
    <!-- END: Grid view -->
  </mat-card>

  <mat-card class="schema__sidebar">
    <div class="schema__sidebar-props" [hidden]="!sidebarProps.length">
      <mat-form-field *ngFor="let prop of sidebarProps" class="example-full-width">
        <input matInput [placeholder]="prop.key" [(ngModel)]="prop.value">
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      *ngIf="sidebarProps.length"
      (click)="saveBox()"
    >
      SAVE
    </button>
  </mat-card>
</mat-card>
