<form
  [formGroup]="schemaForm"
  (ngSubmit)="saveSchema()"
  class="form"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Name"
      formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Size X"
      formControlName="sizeX">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Size Y"
      formControlName="sizeY">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Size Z"
      formControlName="sizeZ">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Grid step X"
      formControlName="gridStepX">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Grid step Y"
      formControlName="gridStepY">
  </mat-form-field>

  <mat-checkbox formControlName="disableDeleting">Disable deleting</mat-checkbox>

  <button
    type="submit"
    mat-raised-button
    color="primary"
  >
    SAVE
  </button>
</form>